<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dangkhoa.dmt.dapchau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Flower Pots"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Multi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".About" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".HighScore" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".Menu" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewGame" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".GamePlay" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>